<!DOCTYPE html>
<html>
<head>
    <title> Chirper.app</title>

    <link rel="stylesheet" href="lib/skeleton/css/normalize.css" />
    <link rel="stylesheet" href="lib/skeleton/css/skeleton.css" />
    <link rel="stylesheet" href="style.css" />

</head>
<body>
    <script>var USER = <%- JSON.stringify(user) %></script>
    <script src="main.js"></script>
</body>
</html>